---
import BaseLayout from '../../layouts/BaseLayout.astro';
import Header from '../../components/Header.astro';
import { Step1FormWrapper } from '../../components/interactive/Step1FormWrapper';

export const prerender = true;
---

<BaseLayout title="Basic Info" showNav={false}>
  <Header showBack title="Langkah 1" />
  
  <div class="flex-1 flex flex-col px-4 pt-20 pb-32 max-w-md mx-auto w-full">
    <h1 class="text-white tracking-tight text-[32px] font-bold leading-tight text-left pb-6 pt-4">
      Siapa Klienmu?
    </h1>
    
    <Step1FormWrapper client:load />
  </div>
</BaseLayout>
